<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bowon.cpm.news.mapper.NewsSentimentMapper">

    <insert id="insertIgnore" parameterType="com.bowon.cpm.news.domain.NewsSentiment"
            useGeneratedKeys="true" keyProperty="id">
        INSERT IGNORE INTO news_sentiment (
            news_id, stock_code, sentiment,
            sentiment_score, impact_score, reason, created_at
        ) VALUES (
            #{newsId}, #{stockCode}, #{sentiment},
            #{sentimentScore}, #{impactScore}, #{reason}, NOW()
        )
    </insert>

</mapper>
